<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>선유도서관_게시판</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap}" rel="stylesheet">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xwdah49alh"></script>
</head>
<body>
<div th:replace="~{header::header-fragment}"></div>
	<div id="container">
        <section class="page">

            <div class="page_top">
                <div class="page_top_imgbox">
                    <div class="page_img">
                        <img th:src="@{/images/header-image2.jpg}" alt="img">
                    </div>
                    <div class="page_title">
                        <p>도서관 찾아오는 길</p>
                    </div>
                </div>
            </div>

            <div class="page_content_box">
                <nav class="page_side_nav">
                    <div class="nav_content">
                        <div class="nav_content_top">
                            <div class="nav_top_title">
                                <p>도서관안내</p>
                            </div>
                        </div>
                        <div class="nav_content_mid">
                            <div class="nav_links">
                                <a class="nav_menu selected_menu" th:href="@{/board/howtocomeboard}">오시는 길</a>
                            </div>
                        </div>
                    </div>
                </nav>
                
                <div class="page_content">
                    <div class="page_content_top">
                        <div class="page_menu_title">
                        </div>
                    </div>
                    <div class="page_content_mid">
                        	<div class="libarary_location_map_box" id="map" style="width:100%;height:400px;">
                        	
                        	</div>
                        <div class="page_content_box">
                            <div class="page_info_box">
                                <ul class="first_ul">
                                    <li>주소 및 연락처
                                        <ul class="second_ul">
                                            <li>주소 : 서울 영등포구 선유동2로 57 이레빌딩 19층 선유책숲</li>
                                            <li>우편번호 : 07212</li>
                                        </ul>
                                    </li>
                                </ul>
                                <br>
                                <ul class="first_ul">
                                    <li>지하철 이용
                                        <ul class="second_ul">
                                            <li>지하철 2호선 : 당산역 1번 출구, 선유도역 5번 출구</li>
                                            <li>지하철 9호선 : 당산역 12번 출구</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<div th:replace="~{footer::footer-fragment}"></div>
<script>
    var mapOptions = {
        center : new naver.maps.LatLng(37.53385, 126.8968),
        zoom : 16
    };

    var map = new naver.maps.Map('map', mapOptions);

    var Custommarker = {
        position : new naver.maps.LatLng(37.53385, 126.8968),
        map : map,
        title : '선유책숲'
    };
    var marker = new naver.maps.Marker(Custommarker);

    // 정보 윈도우 생성
    var infowindow = new naver.maps.InfoWindow({
        content: '<div style="text-align: center; padding: 10px; color: #799c4b; background-color: transparent;">선유책숲</div>',
        anchorSize: new naver.maps.Size(0, 0),
        pixelOffset: new naver.maps.Point(0, -10) // 마커 위에 표시되도록 설정
    });

    // 마커를 클릭했을 때
    naver.maps.Event.addListener(marker, 'click', function() {
        // 네이버 길찾기 URL 생성
        var destination = marker.getPosition();
        var naverMapUrl = 'https://map.naver.com/p/directions/-/14126083.0182108,4513784.8894278,KH%EC%A0%95%EB%B3%B4%EA%B5%90%EC%9C%A1%EC%9B%90%20%EB%8B%B9%EC%82%B0%EC%A7%80%EC%9B%90,447516114,PLACE_POI/-/transit?c=15.00,0,0,0,dh';
        // 새 창으로 네이버 길찾기 페이지 열기
        window.open(naverMapUrl);
    });

    // 마커에 마우스 오버했을 때
    naver.maps.Event.addListener(marker, 'mouseover', function() {
        infowindow.open(map, marker);
    });
    // 마커에 마우스 아웃했을 때
    naver.maps.Event.addListener(marker, 'mouseout', function() {
        // 정보 윈도우 닫기
        infowindow.close();
    });
    // 페이지 열 때 정보 윈도우 숨기기
    infowindow.close();
</script>
</body>
</html>