<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>선유도서관_게시판</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap}" rel="stylesheet">
</head>
<body>
<div th:replace="~{header::header-fragment}"></div>
	<div id="container">
        <section class="page">

            <div class="page_top">
                <div class="page_top_imgbox">
                    <div class="page_img">
                        <img th:src="@{/images/header-image2.jpg}" alt="img">
                    </div>
                    <div class="page_title">
                        <p>회원가입안내</p>
                    </div>
                </div>
            </div>

            <div class="page_content_box">
                <nav class="page_side_nav">
                    <div class="nav_content">
                        <div class="nav_content_top">
                            <div class="nav_top_title">
                                <p>도서관 이용안내</p>
                            </div>
                        </div>
                        <div class="nav_content_mid">
                            <div class="nav_links">
                                <a class="nav_menu" th:href="@{/board/useinfoboard}">이용시간 및 휴관일</a>
                                <a class="nav_menu selected_menu" th:href="@{/board/joininfoboard}">회원가입안내</a>
                                <a class="nav_menu" th:href="@{/board/datauseinfoboard}">자료이용안내</a>
                            	<a class="nav_menu" th:href="@{/board/hopebookboard}">도서신청안내</a>
                            </div>
                        </div>
                    </div>
                </nav>
                
                <div class="page_content">
                    <div class="page_content_top">
                        <div class="page_menu_title">
                        </div>
                    </div>
                    <div class="page_content_mid">
                        <div class="page_content_box">
                            <div class="page_info_box">
                                <h2>대출 회원 가입</h2><br>
                                <ul class="first_ul">
                                    <li>대상
                                        <ul class="second_ul">
                                            <li>현재 주민등록상 서울시 거주자</li>
                                            <li>재외동포 국내거소 신고자 및 외국인 등록자 (서울특별시에 거주하거나 서울소재의 직장· 학교에 다니고 있는 자)</li>
                                        </ul>
                                    </li>
                                    
                                    <li>준비물 : 신분증(주민번호와 주소확인 가능한 주민등록증. 운전면허증 등)</li>
                                    <li>신분증이 없는 어린이의 경우 주민등록등본 지참</li>
                                    <li>가입과 동시 대출가능하며 서울시교육청 평생학습관 및 도서관에서 사용 가능</li>
                                    <li>대출회원 가입절차
                                        <ul class="second_ul">
                                            <li>홈페이지 회원가입 후 신분증(현 거주지가 등재된 주민등록증 또는 증빙서류)을 지참하시고 자료실에 방문하시면 주소와 본인확인 후 대출회원증을 발급해드립니다.
                                                <br>(다만, 서울시 외 거주자가 서울에서 직장이나 학교를 다닐 경우 재직·재학증명서 제시)</li>
                                            <li>재외동포·외국인등록자: 체류지가 서울로 등재된 외국국적동포 국내거소신고증·외국인등록증
                                                <br>(타 시도 거주 대상자는 재학·재직증명서 추가 지참)</li>
                                            <li>어린이회원 가입은 보호자(신분증 지참)와 함께 방문 신청 가능합니다.(증빙서류:주민등록등본)</li>
                                            <li>단, 어린이회원의 경우, 홈페이지 가입 시, 본인 실명인증을 위해 인증수단으로 아이핀(Internet Personal Identification Number)발급이 필요</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<div th:replace="~{footer::footer-fragment}"></div>
</body>
</html>