<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGE</title>
        <link rel="stylesheet" href="update.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <div id="header">
        <section class="header">
            <div class="header_logo_box">
                <a href="#">
                    <img class="header_logo" src="/img/main_logo.png" alt="logo">
                    <!-- <p class="header_library_name">선유책숲</p> -->
                </a>
            </div>
            <div class="header_links">
                <div class="header_link">
                    <div class="header_link_search">
                        <a href="#">도서검색</a>
                    </div>
                    <div class="header_link_open_space">
                        <a href="#">열린공간</a>
                    </div>
                    <div class="header_link_library_info">
                        <a href="#">도서관안내</a>
                    </div>
                    <div class="header_link_study_room">
                        <a href="#">열람실</a>
                    </div>
                    <div class="header_link_my_labrary">
                        <a href="#">나의책숲</a>
                    </div>
                </div>
            </div>
            <div class="header_member">
                <a class="header_member_login" href="#">로그인</a> |
                <a class="header_member_join" href="#">회원가입</a>
            </div>
        </section>        
    </div>





    <div id="container">
        <section class="page">

            <div class="page_top">
                <div class="page_top_imgbox">
                    <div class="page_img">
                        <img src="/img/main_library_picture1.PNG" alt="img">
                    </div>
                    <div class="page_title">
                        <p>나의 정보</p>
                    </div>
                </div>
            </div>


            <div class="page_content_box">
                <nav class="page_side_nav">
                    <div class="nav_content">
                        <div class="nav_content_top">
                            <div class="nav_top_title">
                                <p>나의 책숲</p>
                            </div>
                        </div>
                        <div class="nav_content_mid">
                            <div class="nav_links">
                                <a class="nav_menu" href="#">나의 서재</a>
                                <a class="nav_menu selected_menu" href="#">나의 정보</a>
                            </div>
                        </div>
                    </div>
                </nav>
                
                <div class="page_content">
                    <div class="page_content_top">
                        <div class="page_menu_title">
                        </div>
                        <!-- <div class="page_menu_search">
                            <div class="page_menu_search_box">
                            </div>
                        </div> -->
                    </div>

                    <div class="page_content_mid">
                        <div class="page_table_box">
                            <form th:action="@{/member/update}" method="post" class="member_update_form">
                                <input type="hidden" name="memberId" th:value="${member.memberId}">
                                <input type="hidden" name="rentalCount" id="rentalCount" th:value="${member.rentalCount}" readonly>
                                <input type="hidden" name="rentalAble" id="rentalAble" th:value="${member.rentalAble}" readonly>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td rowspan="3"><img class="user_update_icon" src="/img/user.png" alt=""></td>
                                            </tr>
                                            <tr>
                                                <td><label for="mid">아이디 <span><small>(수정 불가)</small></span></label></td>
                                                <td><input type="text" name="mid" id="mid" th:value="${member.mid}" readonly></td>
                                            </tr>
                                            <tr>
                                                <td><label for="role">권한 <span><small>(수정 불가)</small></span></label></td>
                                                <td colspan="2"><input type="text" name="role" id="role" th:value="${member.role}" readonly></td>
                                            </tr>

                                            <tr>
                                                <td><label for="password">비밀번호 (<span class="required">*</span>)</label></td>
                                                <td colspan="2">
                                                    <input type="password" name="password" id="password" placeholder="비밀번호는 영문, 숫자, 특수문자를 모두 포함한 8글자 이상 20자 이하로 입력해 주세요.">
                                                    <!-- <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p> -->
                                                    <p id="passwordMessage" class="password_message"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="passwordConfirm">비밀번호 확인 (<span class="required">*</span>)</label></td>
                                                <td colspan="2">
                                                    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호 확인">
                                                    <p id="passwordConfirm-error" class="check_password"></p>
                                                    <p id="passwordConfirm-success" class="check_password"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="name">이름 (<span class="required">*</span>)</label></td>
                                                <td colspan="2">
                                                    <input type="text" name="name" id="name" th:value="${member.name}">
                                                    <!-- <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p> -->
                                                    <p id="nameMessage" class="name_message"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="email">이메일 (<span class="required">*</span>) </label></td>
                                                <td colspan="2">
                                                    <input type="text" name="email" id="email" th:value="${member.email}">
                                                    <!-- <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p> -->
                                                    <p id="emailMessage" class="email_message"></p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>    
                                    <div class="member_update_btn_box">
                                        <button type="reset" class="member_update_cancel">취소</button>
                                        <button type="submit" class="member_update_confirm">수정</button>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    
    

    <div id="footer">
        <section class="footer">
            <div class="footer_top">
                <div class="footer_top_text_box">
                    <p>
                        <a href="open_info_notice">정보공개알림</a> |
                        <a href="personal_info_raw">개인정보처리방침</a> |
                        <a href="public_service_raw">행정서비스헌장</a> |
                        <a href="use_info_raw">이용규정</a> |
                        <a href="find_load">오시는길</a>
                    </p>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="team_info_box">
                    <p class="team_basic_info">(우)00000 서울시 영등포구 선유로 (선유책숲)    TEL 02-1234-1234    FAX 02-123-1234, 02-123-1235</p>
                    <p class="team_copyright">Copyright ⓒ 2024 team3_kh_academy. All Rights Reserved.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>