<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<section id="joinform0">
	        <div id="top">
	            <div class="join_header_wrap">
	                <div class="join_header_inner">
	                    <a th:href="@{/}" title="홈으로"><img class="join_logo" th:src="@{/images/join-logo1.png}"></a>
	                    <span>01.</span>약관동의
	                </div>
	            </div>
	        </div>
	        <div id="mid">
	            <fieldset id="using_agree">
	                <legend>이용약관 동의</legend>
	                <div>
	                    <div class="law_list">
	                        <div class="textbox">
	                            <h3>제1장 총칙</h3>
	                            <h4>제1조 목적</h4>
	                            <p>이 약관은 서울특별시교육청 운영 평생학습관 및 도서관 (이하 "평생학습관 및 도서관"이라 한다) 통합홈페이지가 제공하는 통합회원서비스(이하 "서비스"라 한다)를 이용함에 있어 이용자와 평생학습관 및 도서관간의 권리·의무 및 책임사항과 기타 필요한 사항을 규정함을 목적으로 한다.</p>
	                            <h4>제2조 약관의 효력 및 변경</h4>
	                            <p>이 약관은 서비스 화면에 게시하거나 기타의 방법으로 이용자에게 공시되며, 이를 동의한 이용자가 서비스에 가입함으로써 효력이 발생한다.<br>
	                                서울시교육청은 필요하다고 인정되는 경우 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 서비스 화 면에 이용자가 직접 확인할 수 있도록 공지한다.<br>
	                                이용자는 변경된 약관에 동의하지 않을 경우 서비스 이용을 중단하고 본인의 회원등록을 취소할 수 있으 며, 계속 사용하는 경우에는 약관 변경에 동의한 것으로 간주되며 변경된 약관은 전항과 같은 방법으로 효력 이 발생한다.<br>
	                                이용자가 이 약관의 내용에 동의하는 경우 서울시교육청의 서비스 제공행위 및 이용자의 서비스 이용행위에는 이 약관이 우선적으로 적용된다.<br>
	                                이 약관에 명시되지 않은 사항에 대해서는 전기통신기본법, 전기 통신사업법, 정보통신망이용촉진및정보보호등에관한법률, 정보통신윤리위원회 심의규정, 정보통신 윤리강령, 프로그램 보호법 등 기타 대한민국의 관련법령과 상관습에 의한다.</p>
	                            <h4>제3조 용어의 정의</h4>
	                            <p>이 약관에서 사용하는 용어의 정의는 다음과 같다.<br>
	                                이용자 : 서비스에 접속하여 평생학습관 및 도서관 통합홈페이지가 제공하는 서비스를 받는 회원 및 비회원<br>
	                                회원 : 서비스에 접속하여 이 약관에 동의하고, ID(아이디)와 PASSWORD(비밀번호)를 발급 받아 실명확인 절차를 거친 자<br>
	                                비회원 : 회원가입을 하지 않고 평생학습관 및 도서관 통합홈페이지에서 제공하는 서비스를 이용하는 자<br>
	                                ID(아이디) : 회원 식별과 회원의 서비스 이용을 위하여 이용자가 선정하고 평생학습관 및 도서관 통합홈페이지에서 승인하는 영문자와 숫자의 조합(하나의 주민등록번호에 하나의 ID만 발급, 이용 가능)
	                                PASSWORD(비밀번호) : 회원의 정보 보호를 위해 이용자 자신이 설정한 문자와 숫자의 조합<br>
	                                이용해지 : 평생학습관 및 도서관 통합홈페이지 또는 회원이 서비스 이용 이후 그 이용계약을 종료시키는 의사표시<br>
	                                이 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관계법령 및 서비스별 안내에서 정하는 바에 의한다.</p>
	                            <h3>제2장 서비스 이용계약</h3>
	                            <h4>제4조 이용계약의 성립</h4>
	                            <p>이용계약은 이용자의 약관내용에 대한 동의와 이용자의 이용신청에 대한 평생학습관 및 도서관 통합홈페이지 관리자의 승낙으로 성립 한다.</p>
	                            <h4>제5조 이용신청</h4>
	                            <p>이용신청은 서비스의 회원정보 화면에서 이용자가 평생학습관 및 도서관 통합홈페이지 회원가입 메뉴에서 요구하는 가입신청 양식에 개인의 신상정보를 입력하는 방식으로 신청한다.</p>
	                            <h4>제6조 이용신청의 승낙</h4>
	                            <p>평생학습관 및 도서관 통합홈페이지 관리자는 제5조에서 정한 사항을 정확히 기재하여 이용신청을 하였을 경우 특별한 사정이 없는 한 서비스 이용신청을 승낙한다.<br>
	                                평생학습관 및 도서관 통합홈페이지 관리자는 다음 각 호에 해당하는 경우에 대하여는 그 신청에 대한 제한 사유가 해소될 때까지 승낙 을 유보 또는 일부 서비스 이용을 제한할 수 있다.<br>
	                                내용이 허위(차명, 비실명, 주민등록번호 도용 등)인 것으로 판명되거나, 그러하다고 의심할만한 합리적 인 사유가 발생할 경우<br>
	                                기타 서울시교육청이 필요하다고 인정되는 경우</p>
	                            <h4>제7조 계약사항의 변경</h4>
	                            <p>회원은 회원정보관리를 통해 언제든지 자신의 정보를 열람하고 수정할 수 있다. 회원은 이용신청 시 기재 한 사항이 변경된 경우에는 수정을 하여야 하며, 수정하지 아니하여 발생하는 문제의 책임은 회원에게 있다.</p>
	                            <h3>제3장 서비스 제공 및 이용</h3>
	                            <h4>제8조 서비스 이용</h4>
	                            <p>평생학습관 및 도서관 통합홈페이지 관리자는 회원의 이용신청을 승낙한 때부터 서비스를 개시한다. 단, 일부 서비스의 경우에는 지정된 일자부터 서비스를 개시한다.<br>
	                                업무상 또는 기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 사이트에 공시 하거나 회원에게 이를 통지한다.<br>
	                                서비스의 이용은 연중무휴 1일 24시간을 원칙으로 한다. 다만, 업무상 또는 기술상의 이유 로 서비스가 일시 중지될 수 있고, 또한 정기점검 등 운영상의 목적으로 사전 또는 사후 공지한 기간에는 서비스가 일시 중지될 수 있다.<br>
	                                회원에 가입한 후라도 일부 서비스 이용 시 서비스 제공자의 요구에 따라 특정 회원에게만 서비스를 제공 할 수도 있으며 서비스를 일정범위로 분할하여 각 범위별로 이용가능 시간을 별도로 정할 수 있다. 이 경 우 그 내용을 사전에 공지한다.</p>
	                        </div>
	                    </div>
	                    <p class="agree_box">
	                        <span class="Qagree">이용약관에 동의하십니까?</span>
	                        <input type="checkbox" name="use_agree" id="use_agree" required>
	                        <label for="use_agree"> 동의</label>
	                    </p>
	                </div>
	            </fieldset>
	            <fieldset id="personal_agree">
	                <legend>개인정보 수집 및 이용 동의</legend>
	                <div>
	                    <div class="law_list">
	                        <div class="textbox">
	                            <h3>수집하는 개인정보의 항목</h3>
	                            <br>
	                            가. 서울시교육청 운영 22개 평생학습관 및 도서관에서는 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 개인정보를 수집하고 있습니다. 기본적인 회원 서비스 제공을 위한 필수항목과 정보주체 각각의 기호와 필요에 맞는 서비스를 제공하기 위한 선택항목으로 구분하여 다음의 정보를 수집하고 있습니다. 가입정보에 대한 선택항목을 입력하지 않은 경우에도 서비스 이용에는 제한이 없습니다
	                            <br>
	                            [일반 회원가입]
	                            <br>
	                            &nbsp;&nbsp;- 필수항목 : 성명, 생년월일, 아이디, 비밀번호, 연락처(전화번호, 휴대폰 번호), 주소, 이메일
	                            <br>
	                            &nbsp;&nbsp;- 선택항목 : 직장 및 학교 정보
	                            <br>
	                            [실명확인 회원가입] : 휴대폰 본인 확인 또는 아이핀 가입
	                            <br>
	                            &nbsp;&nbsp;- 필수항목 : 아이디, 비밀번호, 주이용 도서관, 성명, 생년월일, 휴대폰 번호, 이메일, 전화번호(자택), 주소(자택)
	                            <br>
	                            &nbsp;&nbsp;- 선택항목 : 전화번호(근무지 및 학교), 주소(근무지 및 학교), 근무처 및 학교, 부서 등
	                            <h3>개인정보 보유기간</h3>
	                            <br>
	                            정보주체 개인정보는 원칙적으로 회원 탈퇴를 요청하거나 수집/이용목적을 달성하거나 보유/ 이용기간이 종료한 경우, 사업 폐지 등의 사유발생시 당해 개인정보를 지체없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
	                            <br>
	                            가. 서울시교육청 운영 22개 평생학습관 및 도서관 내부 방침에 의한 정보보유 사유 - 신규 회원가입 및 기존 대출 회원 정보 보유 보유 사유 : 자료 대출 및 반납, 자료 회수와 관리를 위한 개인정보 보유
	                            <h3>거부권 및 불이익</h3>
	                            <br>
	
	                            정보주체는 개인정보의 수집·이용목적에 대한 동의를 거부할 수 있으며, 동의 거부 시 평생학습관 및 도서관 통합홈페이지에 회원가입이 되지 않으며, 평생학습관 및 도서관 통합홈페이지에서 제공하는 서비스를 이용할 수 없습니다.
	                        </div>
	                    </div>
	                    <p class="agree_box">
	                        <span class="Qagree">개인정보 수집 및 이용 동의하십니까?</span>
	                        <input type="checkbox" name="person_agree1" id="person_agree1" required>
	                        <label for="person_agree1"> 동의</label>
	                    </p>
	                </div>
	            </fieldset>
	
	            <fieldset id="personal_agree3">
	                <legend>수집한 개인정보의 제 3자 제공 동의</legend>
	                <div>
	                    <div class="law_list">
	                        <div class="textbox">
	                            <h3>수집한 개인정보의 제3자 제공</h3>
	                            <br><p>평생학습관 및 도서관 통합홈페이지에서는 아래의 경우 제3자 제공을 하고 있으며 본인확인 및 I-PIN 인증시에 제공하는 개인정보는 개인정보보호법 제22조 제2항에 따라 정보주체와의 계약체결 등을 위하여 정보주체의 동의 없이 처리할 수 있는 개인정보로 지정 합니다.<br><br>
	                            <h3>평생학습관 및 도서관 통합홈페이지 회원 서비스 제공을 위해 개인정보를 제공하는 기관</h3>
	                            <br>
	                            ※아래에 해당하는 개인정보는 회원가입시 실명인증 및 I-PIN 인증시에만 제3자 제공을 하고 있으며 정보주체의 동의 없이는 제공되지 않습니다.
	                            <h3>거부권 및 불이익</h3>
	                            <br>
	                            정보주체는 개인정보의 수집·이용목적에 대한 동의를 거부할 수 있으며, 동의 거부 시 평생학습관 및 도서관 통합홈페이지에 회원가입이 되지 않으며, 평생학습관 및 도서관 통합홈페이지에서 제공하는 서비스를 이용할 수 없습니다.
	                        </div>
	                    </div>
	                    <p class="agree_box">
	                        <span class="Qagree">개인정보 수집 및 이용 동의하십니까?</span>
	                        <input type="checkbox" name="person_agree2" id="person_agree2" required>
	                        <label for="person_agree2"> 동의</label>
	                    </p>
	                </div>
	            </fieldset>
	            <div class="btnbox">
	                <a th:href="@{/}"><button type="button" class="reset_btn">이전</button></a>
	                <a th:href="@{/member/join1}"><button type="button" class="join_btn">다음</button></a>
	                <button onclick="toggleCheckboxes()" class="page_write_btn">모두 동의</button>
	            </div>
	        </div>
	    </section>
	</div>
<script>
  $(document).ready(function () {
      $('.join_btn').click(function () {
          if (!$('#use_agree').is(':checked') || !$('#person_agree1').is(':checked') || !$('#person_agree2').is(':checked')) {
              alert('모든 약관에 동의해야 합니다.');
              return false;
          }
      });
  });

  function toggleCheckboxes() {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
    	  if(checkbox.checked != true){
	          checkbox.checked = true;
    	  }else {
    		  checkbox.checked = false;
    	  }
      });
  }

</script>
</body>
</html>