<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<section id="find_id">
			<div class="login">
				<div class="find_id_result_text">
	    	        <h2>임시 비밀번호가 메일에 전송되었습니다.</h2>
	                <div class="find_id_btn_box">
	                     <button type="submit" class="resultConfirm find_id_btn"><img th:src="@{/images/confirm.png}">확인</button>
	                </div>
				</div>
			</div>
		</section>
	</div>
<script type="text/javascript">
    $(document).ready(function(){
        // 로그인 버튼 클릭 시 창 닫기
        $(".resultConfirm").click(function(){
            window.close();
        });
    });
</script>
</body>
</html>