<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>대출베스트</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap}"
	rel="stylesheet">
    <style>
        img{
            width: 100%;
        }
    </style>
</head>
<body>
	<div th:replace="~{header::header-fragment}"></div>
        <img th:src="@{/images/준비중.PNG}">
</body>
</html>