/* <uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 100 to 900 */

/* .noto-sans kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {margin: 0; padding: 0; font-family: "Noto Sans KR", sans-serif;}

#header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.header {
    width: 80%;
    height: 100px;
    margin: 0;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.header_logo_box {
    width: 15%;
    display: flex;
    justify-content: center;
}

.header_logo {
    width: 180px;
}

.header_library_name {
    font-size: 1.6rem;
    font-weight: 600;
    color: #7D704E;
}

.header_links {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.header_link {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.header_link a {
    font-weight: 600;
    color: #7D704E;
    text-decoration: none;
}

.header_member {
    width: 15%;
    color: #A5B569;
}

.header_member a {
    font-size: 0.7rem;
    color: #A5B569;
    text-decoration: none;
}