<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGE</title>
        <link rel="stylesheet" href="addbook.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <div id="header">
        <section class="header">
            <div class="header_logo_box">
                <a href="#">
                    <img class="header_logo" src="/img/main_logo.png" alt="logo">
                    <!-- <p class="header_library_name">선유책숲</p> -->
                </a>
            </div>
            <div class="header_links">
                <div class="header_link">
                    <div class="header_link_search">
                        <a href="#">도서검색</a>
                    </div>
                    <div class="header_link_open_space">
                        <a href="#">열린공간</a>
                    </div>
                    <div class="header_link_library_info">
                        <a href="#">도서관안내</a>
                    </div>
                    <div class="header_link_study_room">
                        <a href="#">열람실</a>
                    </div>
                    <div class="header_link_my_labrary">
                        <a href="#">나의책숲</a>
                    </div>
                </div>
            </div>
            <div class="header_member">
                <a class="header_member_login" href="#">로그인</a> |
                <a class="header_member_join" href="#">회원가입</a>
            </div>
        </section>        
    </div>





    <div id="container">
        <section class="page">

			<div class="page_top">
				<div class="page_top_imgbox">
					<div class="page_img">
						<img th:src="@{/images/main_library_picture1.PNG}" alt="img">
					</div>
					<div class="page_title">
						<p>도서 등록</p>
					</div>
				</div>
			</div>


			<div class="page_content_box">
				<nav class="page_side_nav">
					<div class="nav_content">
						<div class="nav_content_top">
							<div class="nav_top_title">
								<p>도서 관리</p>
							</div>
						</div>
						<div class="nav_content_mid">
							<div class="nav_links">
								<a class="nav_menu selected_menu" th:href="@{#}">도서 등록</a> 
                                <a class="nav_menu" th:href="@{#}">도서 목록</a>
							</div>
						</div>
					</div>
				</nav>
                
                
                <div class="page_content">
                    <div class="page_content_top">
                        <!-- <div class="page_menu_title">
                            <p>게시판 메뉴1</p>
                        </div> -->
                        <div class="page_menu_search">
                            <div class="page_title_box">
                                <img th:src="@{/images/write.png}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="page_content_mid">
                        <div class="page_table_box">
                            <form th:action="@{/book/register}" method="post" enctype="multipart/form-data">
                                <table class="writepage_table">
                                    <tbody class="writepage_table_body">
                                        <tr>
                                            <td>
                                                <input class="write_page_title_input" type="text" name="bname" id="bname" placeholder="'서명'을 입력해주세요" autofocus>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="write_page_title_input" type="text" name="publisher" id="publisher" placeholder="'출판사'를 입력해주세요" autofocus>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="write_page_title_input" type="text" name="author" id="author" placeholder="'저자'를 입력해주세요" autofocus>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="write_page_title_input" type="text" name="bnumber" id="bnumber" placeholder="'고유번호'를 입력해주세요" autofocus>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            	<label for="hopeBoardFile" class="file_upload_btn" onclick="fileUploadBtn()">도서 이미지를 넣어주세요</label>
                                                <input class="select_file" type="file" name="hopeBoardFile">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="write_form_btn_box">
                                    <button type="submit" class="write_btn">등록</button>
                                    <a th:href="@{/}"><button type="button" class="cancel_btn">취소</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    
    

    <div id="footer">
        <section class="footer">
            <div class="footer_top">
                <div class="footer_top_text_box">
                    <p>
                        <a href="open_info_notice">정보공개알림</a> |
                        <a href="personal_info_raw">개인정보처리방침</a> |
                        <a href="public_service_raw">행정서비스헌장</a> |
                        <a href="use_info_raw">이용규정</a> |
                        <a href="find_load">오시는길</a>
                    </p>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="team_info_box">
                    <p class="team_basic_info">(우)00000 서울시 영등포구 선유로 (선유책숲)    TEL 02-1234-1234    FAX 02-123-1234, 02-123-1235</p>
                    <p class="team_copyright">Copyright ⓒ 2024 team3_kh_academy. All Rights Reserved.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>