<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>이벤트 페이지</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap}"
	rel="stylesheet">
</head>
<body>
    <div th:replace="~{header::header-fragment}"></div>
    <div id="container">
        <section class="page">
            <div class="page_top">
                <div class="page_top_imgbox">
                    <div class="page_img">
                        <img th:src="@{/images/header-image2.jpg}" alt="img">
                    </div>
                    <div class="page_title">
                        <p>이벤트 상세</p>
                    </div>
                </div>
            </div>
            <div class="page_content_box">
                <nav class="page_side_nav">
					<div class="nav_content">
						<div class="nav_content_top">
							<div class="nav_top_title">
								<p>열린공간</p>
							</div>
						</div>
						<div class="nav_content_mid">
						<div class="nav_links">
								<a class="nav_menu" th:href="@{/freeboard/pagelist}">자유게시판</a>
								<a class="nav_menu selected_menu" th:href="@{/event/pagelist}">독서이벤트</a>
								<a class="nav_menu" th:href="@{/hopeboard/pagelist}">도서관에바란다</a>
								<a class="nav_menu" th:href="@{/faq/pagelist}">자주하는질문</a>
							</div>
						</div>
					</div>
				</nav>
                <div class="page_content">
                    <div class="page_content_top">
                        <div class="page_menu_search">
                            <div class="page_title_box">
                                <img th:src="@{/images/write.png}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="page_content_mid">
                        <div class="page_table_box">
                            <table class="detailpage_table">
                                <tbody class="detailpage_table_body">
                                    <tr>
                                        <td>
                                            <div class="detail_info">
                                                <div class="detail_page_info_date" th:text="${#dates.format(event.createdDate, 'yyyy-MM-dd')}"></div>
                                                <div class="detail_page_info_mid" th:text="${event.member.mid}"></div>
                                                <div class="detail_page_info_hit" th:text="'조회수 ' + ${event.evhit}"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="detail_page_title_input" type="text" name="evtitle" th:value="${event.evtitle}" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea rows="5" cols="30" name="evcontent" th:text="${event.evcontent}" readonly></textarea>
                                            <div class="page_textarea_img_box">
                                                <img th:if="${event.eventFilename != null}" th:src="@{|/upload/${event.eventFilename}|}"/>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 이벤트 페이지의 경우 수정, 삭제 버튼 추가 -->
                            <div class="detail_btn_box">
                                <a th:href="@{/event/pagelist}"><button type="button" class="page_go_list">목록</button></a>
                                <a th:href="@{|/event/update/${event.evid}|}"><button type="button" class="page_go_update">수정</button></a>
                                <a th:href="@{|/event/delete/${event.evid}|}"><button type="button" class="page_go_delete">삭제</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="~{footer::footer-fragment}"></div>
    <script th:src="@{/js/reply.js}"></script>
</body>
</html>