/* general */
* {
    margin: 0; 
    padding: 0; 
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

#container {
    width: 100%;
    margin: 0;
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;
    background-color: #f4f4f4;
}

button:hover, a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* header */
#header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}

.header {
    width: 80%;
    height: 100px;
    margin: 0;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

/* header_logo */
.header_logo_box {
    width: 15%;
    display: flex;
    justify-content: center;
}

.header_logo {
    width: 180px;
}

/* .header_library_name {
    font-size: 1.6rem;
    font-weight: 600;
    color: #7D704E;
} */

/* header_link */
.header_links {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.header_link {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.header_link a {
    font-weight: 600;
    color: #7D704E;
    text-decoration: none;
}

/* header_member */
.header_member {
    width: 15%;
    color: #A5B569;
}

.header_member a {
    font-size: 0.7rem;
    color: #A5B569;
    text-decoration: none;
}

/* page */
.page {
    width: 100%;
}

/* page_top */
.page_top {
    width: 88.5%;
    height: 300px;
    background-color: #000;
    margin: 0 auto;
    border-radius: 50px;
}

.page_top_imgbox{
    position: relative;
}

.page_img img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
}

.page_title {
    position: absolute;
    top: 100px;
    left: 150px;
}

.page_title p {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 3px 3px 5px #555;
}


/* page_content_box */
.page_content_box {
    width: 88.5%;
    /* background-color: #000; */
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;

    display: flex;
    justify-content: space-around;
}

/* page_side_nav */
.page_side_nav {
    padding-top: 50px;
    width: 15%;
}

.nav_content {
    width: 100%;
    border-radius: 25px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.nav_top_title {
    margin: 0 15px;
    padding: 10px;
    border-bottom: 2px solid #efefef;
}

.nav_top_title p{
    color: #0F6728;
    font-size: 1.05rem;
}

.nav_content_mid {
    margin: 25px 10px;
    font-size: 0.95rem;
}

.nav_links {
    display: flex;
    flex-direction: column
}

.nav_menu {
    color: #7D704E;
    line-height: 32px;
}

.selected_menu {
    color: #403A2A;
    text-decoration: underline;
}



/* page_content */
.page_content {
    width: 75%;
    border-radius: 25px;
    background-color: #fff;
    padding: 50px 6%;
}

.page_content_top {
    display: flex;
    justify-content: right;
}

/* .page_menu_title {
    font-size: 1.5rem;
    color: #0F6728;
    padding-top: 0px;
    padding-right: 10%;
    padding-left: 0;
    padding-bottom: 10px;
    text-align: right;
} */

.page_menu_search {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
}

.page_menu_search_box{
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page_menu_search_select,
.page_menu_search_input {
    border: none;
}

.page_menu_search_img {
    width: 100%;
    padding: 2px;
}

.page_menu_input_btn {
    width: 25px;
    border: none;
    background: none;
}




/* page_table */
.page_table {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-collapse: collapse;
}

.page_table_head{
    border-bottom: 2px solid #999;
}

.page_table_head tr th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_table_body tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.page_table_no 
.page_table_hit {
    width: 7%;
}

.page_table_title {
    width: 51%;
}

.page_table_writer {
    width: 10;
}

.page_table_date {
    width: 15%;
}

.page_table_body tr td:nth-child(2) {
    padding-left: 20px;
    text-align: left;
}

.page_table_body tr td:nth-child(1), 
.page_table_body tr td:nth-child(4),
.page_table_body tr td:nth-child(5) {
    color: #999;
}

.page_content_bottom {
    width: 25%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.page_paging {
    display: flex;
    justify-content: space-around;
}

.page_paging_number {
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.page_write_btn_box {
    width: 100%;
    margin-top: 16px;
    padding-right: 20px;
    display: flex;
    justify-content: right;
}

.page_write_btn {
    border: 1px solid #cfc;
    border-radius: 15px 5px 15px 10px;
    padding: 5px;
    background-color: #efffef;
    color: #543;
    font-size: 0.8rem;
    font-weight: 500;
    box-shadow: 1px 1px 3px #543;
}

.page_textarea_img_box {
	border: 2px solid #efefef;
	border-radius: 15px;
	padding: 10px;
    background-color: #efefef;
}

.page_title_box {
    padding-right: 20px;
}

.page_title_box img {
    width: 30px;
    opacity: 60%;
}

.writepage_table {
    width: 100%;
    border-top: 3px solid #efefef;
    border-collapse: collapse;
}

.writepage_table td{
    padding-top: 0;
}

.writepage_table tbody tr td{
    padding-top: 20px;
}

.write_page_title_input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #efefef;
}

.write_page_title_input:focus {
    outline: none;
}

.writepage_table_body textarea {
    width: 100%;
    height: 300px;
    border: 2px solid #efefef;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

.writepage_table_body textarea:focus {
    outline: none;
}

.select_file {
    display: none;
}

.file_upload_btn:hover {
    cursor: pointer;
}

.file_upload_btn {
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-right: 5%;
    padding-bottom: 5px;
    padding-left: 5%;
    border-radius: 10px;
    background-color: #efefef;
    font-size: 0.8rem;
}

.write_form_btn_box {
    width: 100%;
    display: flex;
    justify-content: right;
}

.write_form_btn_box button {
    padding: 15px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    margin-right: 20px;
}
.write_btn { 
    border: 1px solid #dcffe6;
}

.cancel_btn {
    border: 1px solid rgb(255, 228, 202)
}














/* detail page */
.detailpage_table {
    width: 100%;
    border-top: 3px solid #efefef;
    border-collapse: collapse;
}

.detailpage_table td{
    padding-top: 0;
}

.detailpage_table tbody tr td{
    padding-top: 10px;
}

.detail_page_info_input {
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #efefef;
    font-size: 0.8rem;
}

.detail_page_title_input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #efefef;
}


.detail_page_title_input:focus {
    outline: none;
}

.detailpage_table_body textarea {
    width: 100%;
    height: 300px;
    border: 2px solid #efefef;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

.detailpage_table_body textarea:focus {
    outline: none;
}

.detail_btn_box {
    width: 100%;
    padding: 20px;
    border-bottom: 3px solid #efefef;
    display: flex;
    justify-content: right;
}

.detail_btn_box button {
    width: 50px;
    padding: 3px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.page_reply {
    width: 100%;
    background-color: #000;
}


















/* footer */
#footer{
    width: 100%;
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4;
}

.footer {
    width: 100%;
    height: 150px;
    text-align: center;
}

/* footer-top */
.footer_top {
    width: 100%;
    height: 50px;
    background-color: #7D704E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_top_text_box {
    width: 45%;
}

.footer_top_text_box p {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    color: #fff;
}

.footer_top_text_box p a {
    color: #fff;
    text-decoration: none;
}

/* footer-bottom */
.footer_bottom {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_info_box {
    width: 75%;
}

.team_info_box p {
    color: #fff;
}

.team_basic_info {
    font-size: 0.8rem;
}

.team_copyright {
    font-size: 0.7rem;
}